{% extends 'base.html.twig' %}

{% block title %}Contenu Article{% endblock %}

{% block body %}
    <div class="container">
        <h1 >{{ article.titre }}</h1>
        {% if article.categorie %}
        <a class="btn btn-secondary " href="{{ path('app_categorie_slug', { slug : article.categorie.slug}) }}" role="button">{{ article.categorie.titre }}
            </a>
        {% else %}
        <p>Pas de catégorie</p>
        {% endif %}
        <div>
            <p>{{ article.contenu }}</p>
        </div>
        {% if article.commentaires.count >1 %}
        <h2>{{ article.commentaires.count }} Commentaires</h2>
        {%else %}
        <h2>{{ article.commentaires.count }} Commentaire</h2>
        {% endif %}

        {{ form_start(formCommentaire) }}
        {{ form_row(formCommentaire.contenu,{
            'label' : "commenter" ,
            'attr' :{'placeholder' : "ecrire un commentaire"
            }
        }) }}
        {{ form_row(formCommentaire.pseudo ,{
            'label ' : "pseudo" ,
            'errors' : "Le pseudo n'existe pas"

        }) }}
        <input type="submit" class="btn btn-primary" value="ajouter">
        {{ form_end(formCommentaire) }}


        {% if commentaires %}
            {% for commentaire in commentaires %}
                {% if commentaire.utilisateurId %}
                <h3>{{ commentaire.utilisateurId.pseudo }} </h3><p>({{ commentaire.createdAt | date("d/m/Y") }})</p>
                {% else %}
                <h3>Anonyme </h3><p>({{ commentaire.createdAt | date("d/m/Y") }})</p>
                {%  endif %}
                <p>{{ commentaire.contenu }}</p>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire pour le moment</p>
        {% endif %}
    </div>
{% endblock %}
