{% extends 'base.html.twig' %}

{% block title %}Contenu Article{% endblock %}

{% block body %}
    <div class="container">
        <h1 >{{ article.titre }}</h1>
        <a class="btn btn-secondary " href="{{ path('app_categorie_slug', { slug : article.categorie.slug}) }}" role="button">{{ article.categorie.titre }}</a>
        <div>
            <p>{{ article.contenu }}</p>
        </div>
        {% if article.commentaires.count >1 %}
        <h2>{{ article.commentaires.count }} Commentaires</h2>
        {%else %}
        <h2>{{ article.commentaires.count }} Commentaire</h2>
        {% endif %}
        {% if commentaires %}
            {% for commentaire in commentaires %}
                {% if commentaire.utilisateurId %}
                <h3>{{ commentaire.utilisateurId.pseudo }} {{ commentaire.createdAt | date("d/m/Y") }}</h3>
                {% else %}
                <h3>Anonyme {{ commentaire.createdAt | date("d/m/Y") }}</h3>
                {%  endif %}
                <p>{{ commentaire.contenu }}</p>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire pour le moment</p>
        {% endif %}
    </div>
{% endblock %}
